.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 1px 1px 10px black;
  position: relative;
  width: 50%;
}

.modal-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
