.header-container {
  background-color: var(--terciary-color);
  height: 70px;
  text-align: center;
  line-height: 70px;
  box-shadow: 0 1px 2px var(--shadow-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.header-title {
  color: #333;
  font-size: 2rem;
}
