@keyframes loading {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}

.loading {
  animation: loading 3s linear infinite;
  background-image: linear-gradient(
    to right,
    rgba(140, 140, 140, 0.05) 0%,
    rgba(140, 140, 140, 0.1) 15%,
    rgba(140, 140, 140, 0.05) 30%
  );
  background-size: 1200px 100%;
}

.loading.issue-loading {
  width: 100%;
  height: 10rem;
  border-radius: 3px;
  margin: 0.25rem 0;
}

.loading.sidebar-loading {
  width: 100%;
  height: 3rem;
  margin: 0.25rem 0;
}

.layout {
  display: flex;
  align-items: stretch;
  height: 100vh;
}

.sidebar-base {
  width: 30%;
  margin: 0 1rem 0 0;
  flex-shrink: 0;
}

.sidebar {
  background: #f0f0f0;
  border-right: 1px solid #8c8c8c;
}

.issue {
  flex-grow: 1;
}
